body {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	color: rgba(0,0,0,.65);
	background-color: #fff;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.panel {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    float: left;
    flex: 0 0 auto;
    -webkit-box-flex: 0;
    display: block;
    box-sizing: border-box;
    position: relative;
}

.editor {
	border-right: 1px solid #d9d9d9;
}

.result {
	color: #333;
    background-color: #fcfaf2;
    font-size: 16px;
    padding: 40px 40px 80px;
    overflow-y: auto;

}

.content {
	width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0;
    resize: none;
    color: #333;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    overflow: auto;
    margin: 0;
    height: 100%;
}

.result_html {
    word-wrap: break-word;
    color: inherit;
    font-size: 16px;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.download {
	display: inline-block;
    position: absolute;
    top: 16px;
    right: 40px;
}

.tooltip-inner {
    max-width: 150px;
    /* If max-width does not work, try using width instead */
    width: 150px; 
}

.ace-chrome .ace_print-margin {
    width: 0px;
    /*background: #e8e8e8;*/
}

